---
import { meta } from '@/data.json'
const { description, image, title } = meta
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'
      rel='stylesheet'
    />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:image' content={image} />
    <meta property='og:description' content={description} />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />
  </head>
  <body
    class='bg-black min-h-svh font-manrope text-white px-6 flex flex-col gap-24 items-center pb-20 bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] md:px-12'
  >
    <slot />
  </body>
</html>

<style is:global>
  a,
  button,
  a:focus,
  button:focus {
    outline: none;
  }
</style>
